# OpenWeatherMap API Key (Free Tier)
# Get yours at: https://openweathermap.org/api
OPENWEATHER_API_KEY=ffe226fefef30bb5b08627a5aeb817c8

# Groq API Key (Free Tier)
# Get yours at: https://console.groq.com
GROQ_API_KEY=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
